# Database Configuration
spring.datasource.url=jdbc:postgresql://1111.111.1.11:5432/runpodworker
spring.datasource.username=user
spring.datasource.password=password
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA Configuration
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

logging.level.org.springframework.web=DEBUG
logging.level.org.hibernate.SQL=DEBUG

# Runpod API Configuration
runpod.api-token=token_eeadsADSsadadssa

# Redis Configuration
spring.data.redis.host=111.1111.1.6
spring.data.redis.port=6379
spring.data.redis.password=
spring.data.redis.timeout=5000ms
spring.data.redis.lettuce.pool.max-active=10
spring.data.redis.lettuce.pool.max-idle=5
spring.data.redis.lettuce.pool.min-idle=1
